.App {
  margin: 30px;
}

.row {
  display: flex;
}

.textarea {
  flex-grow: 1;
  height: 200px;
  font-size: 12px;
}

.service-name {
  width: 100%;
}

.login {
  flex-grow: 1;
  font-size: 12px;
}

.password {
  flex-grow: 1;
  font-size: 12px;
}

.row-space {
  min-width: 40px;
  max-width: 40px;
}
